<!DOCTYPE html>
<html>
    <head>
        <title>Application Submitted</title>
        {%include 'bootstrap.html'%}
    </head>
    <body>
        {% include 'nav.html' %}
         {% include 'banner.html' %}
         <div class="container">
            <h1 class="text-center mt-2 mb-4">
                Famplus Careers
            </h1>
            <p>Your application for the role of <b> {{job.title}}</b> at famplus has been submitted</p>
        <b>Full Name</b>
        <div class="mb-2">{{application['full_name']}}</div>
        <b>Email</b>
        <div class="mb-2">{{application['email']}}</div>
        <b>Linked_URL</b>
        <div class="mb-2">{{application['LinkedIn_url']}}</div>
        <b>Email</b>
        <div class="mb-2">{{application['email']}}</div>
        <h3>Education</h3>
        <div class="mb-2">{{application['education']}}</div>
        <b>Work Experience</b>
        <div class="mb-2">{{application['work experience']}}</div>
        <b>Resume_URL</b>
        <div class="mb-2">{{application['resume_url']}}</div>   
         </div>
    </body>
    {% include 'footer.html' %}
</html>